body{
    background-color: bisque;
}

p{
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    font-style: italic;

    font: 'Arial', bold, 0.9em, italic;*/
}

div{
    background-color: blueviolet;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 2px solid;
    display: inline-block;
}
div:hover{
    background-color: black;
}